<h1>Hello , Rails!</h1>

<ul>
	<% @articles.each do |article| %>
		<!-- <li>
			<a href="<%= article_path(article) %>">
				<%= article.title %>
			</a> 
		</li> -->
		<li>
			<%= link_to article.body, article %>
		</li>
	<% end %>
</ul>
<%= link_to "Post", new_article_path %>